<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <clear />
        <add name="DdnsViaYandexApiGUI.Properties.Settings.DbDomainInfoConnectionStringBin"
            connectionString="data source='DbDomainInfo.db'"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>